<%-include("partials/header");-%>
<div class="container-fluid vaccine-details-heading">
  <h1>About this project</h1>
</div>
<div class="container-fluid about-container">
  <h2>Hello World!</h2>
  <p>
    This is a very basic project used to display the vaccination center
    details for a given date.
  </p>
  <p>
    This project uses node js and express js in the backend and Co-Win
    public API to fetch the data.
  </p>
  <p>
    It has to be noted that the data displayed on the website may not be
    real time (as per the new Co-Win API guidelines) and there is also a
    limit of 100 API calls per 5 minutes per IP.
  </p>
  <p>
    There is definitely plenty of flaws and space for improvements in the
    project. I hope to improve this in the future as I gain more knowledge
    and experience.
  </p>
</div>
<br />
<br />
<br />
<%-include("partials/footer"); -%>