#footer {
  background-color: #1f1d36;
  color: white;
  text-align: center;
  padding: 7px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

#footer p {
  margin: 0;
}

.navbar {
  background-color: #1f1d36;
}

button {
  margin-bottom: 2rem;
}

form {
  padding: 2rem;
}

h1 {
  margin-top: 4rem;
  text-align: center;
}

.form-container {
  margin-top: 2rem;
}

.vaccine-details-container {
  padding: 2rem;
}

.vaccine-details-heading {
  margin-bottom: 3rem;
}

.vac-details-heading {
  font-weight: bolder;
  font-size: 1.3rem;
  text-align: center;
}

.vaccine-details-container p {
  margin-bottom: 1rem;
}

.vaccine-type,
.free-paid,
.age,
.dose,
.slot {
  text-align: center;
}

.center-add-heading {
  text-align: left;
}

.center-details p {
  margin-bottom: 0.2rem;
}

.about-container {
  padding: 0 2rem 2rem 2rem;
}

.about-container p {
  font-size: 1.1rem;
}

h2 {
  margin-bottom: 2rem;
}

body {
  position: relative;
  min-height: 100vh;
}

.responsive-heading {
  display: none;
}

@media only screen and (max-width: 576px) {

  .center-add-heading,
  .center-details {
    text-align: center;
  }

  .vac-details-heading {
    display: none;
  }

  p {
    display: inline-block;
  }

  .responsive-heading {
    display: inline;
    font-weight: bolder;
  }
}